html, body {
  margin: 0;
  padding: 0;
  max-height: 100%;
  background: #eee;
}


textarea{
  display:  block;
  width: 300px;
  min-height: 40px;
  padding: 10px 5px;
  margin: 100px auto;
  resize:  none;
  box-sizing:  border-box;
  overflow:  hidden;
}
